<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="navigation-search-bar">
          <div class="search-bar">
            <div class="search-and-submit">
              <input type="search" placeholder="Enter Search" />
              <button type="submit">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
              </button>
            </div>
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="edit-profile"><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li class="sign-out"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="sign-up"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class="sign-in"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>


